*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #0f172a;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

.nav-bar{
    margin-top: 24px;
    background-color: #0f172a;
    width: fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    position: sticky;
    top: 10px;
    border: .5px solid #38bdf8;
    border-radius: 60px;
    padding: 5px 10px 5px 30px;
    box-shadow: .1px .1px 5px #38bdf8;
    z-index: 1000;  
}

.logo{
    color: #38bdf8;
    font-weight: 700;
    padding-left: 24px;
    font-size: 24px;
}

.nav-bar .nav-links{
    list-style: none;
    display: flex;
    gap: 24px;
    padding-right: 24px;
}

.nav-bar .nav-links li a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
    transition: color .4s ease;
    display: inline-block;
    padding: 2px 24px 2px 0px;
    border-right: 2px solid #e5e7eb;
    transition: transform .4s ease;
}

.nav-bar .nav-links li a:hover{
    color: #38bdf8;
    transform: translateY(-2px);
}

.hero .img img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.hero .img{
    border: 3px solid #38bdf8;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #38bdf8;
    transition: 
        box-shadow 0.4s ease,
        transform 0.4s ease;
}

.hero .img:hover{
    box-shadow: 4px 4px 30px #38bdf8;
    transform: translateY(-2px); 
}

.hero {
    height:450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;  
}

.hero .detail h1{
    color: #38bdf8;
    display: inline-block;
    transition: transform .2s ease;
}

.hero .detail h1:hover{
    transform: translateY(-2px);
}

.hero .detail h3{
    color: #e5e7eb;
    font-weight: 400;
}

.hero .detail .social-links{
    padding-top: 10px;
    display: flex;
    gap: 16px;
}

.hero .detail .social-btn {
    text-decoration: none;
    color: #38bdf8;
    background-color: #0f172a;
    border: 2px solid #38bdf8;
    border-radius: 25px;
    padding: 3px 12px 3px 12px;
    box-shadow: .5px .5px 5px #38bdf8;
    transition: 
        color 0.4s ease,
        transform 0.4s ease,
        background-color 0.4s ease;
}

.hero .detail .social-btn:hover{
    background-color: #38bdf8;
    color: #e5e7eb;
    transform: translateY(-2px);
}

.hero .detail .social-btn i{
    border-radius: 50%;
}


.about{
    border-top: 1px solid #38bdf8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 1px solid #38bdf8;
    /* box-shadow: 0px 2px 30px #38bdf8; */
}

.about h2{
    color: #38bdf8;
    /* text-decoration: underline; */
    transition: transform .2s ease;

}

.about h2:hover{
    transform: translateY(-2px);
}

.about p{
    color: #e5e7eb;
    line-height: 24px;
}

.about ul {
    padding-left: 24px;
    color: #e5e7eb;
}

.skills{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.skills h2{
    color: #38bdf8;
    text-align: center;
    /* text-decoration: underline; */
    transition: transform .2s ease;
}

.skills h2:hover{
    transform: translateY(-2px);
}

.skills .tech-stack-1{
    padding: 24px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.skills .tech-stack-2{
    padding: 24px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.skills .tech-stack i{
    font-size: 7rem;
    color: #38bdf8;
    display: inline-block;
    border: 1px solid #38bdf8;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #38bdf8;
    transition: 
        color 0.4s ease,
        transform 0.4s ease,
        background-color 0.4s ease;
}

.skills .tech-stack i:hover{
    color: #e5e7eb;
    background-color: #38bdf8;
    transform: translateY(-3px);
    
}

